

*.index

*.prefs

*.snap

*.bak

*.dat

Fuentes/.metadata/*

*.launch

*.js

*.class

*.log

Fuentes/
Fuentes/.*


Fuentes/serviceRestDemo/*

Fuentes/Servers/.*

Fuentes/Servers/

Fuentes/RemoteSystemsTempFiles/

