

*.index

*.prefs

*.snap

*.bak

*.dat

Fuentes/.metadata/*

*.launch

*.js

*.class

*.log

Fuentes/.metadata/.lock

Fuentes/.*

Fuentes/serviceRestDemo/*

Fuentes/RemoteSystemsTempFiles/*

Fuentes/ServicesVentaComida/.*

visualParadigm/*.bak_*

Fuentes/Servers/.*

Fuentes/Servers copia/*

Fuentes/Servers/Pivotal tc Server Developer Edition v3.1-config/*

