

*.index

*.prefs

*.snap

*.bak

*.dat

Fuentes/.metadata/*

*.launch

*.js

*.class

*.log

Fuentes/.*

Fuentes/ServicesVentaComida/.*

Fuentes/ServicesVentaComida/target/

Fuentes/ServicesVentaComida/

Fuentes/serviceRestDemo/*

Fuentes/Servers/.*

Fuentes/Servers/

Fuentes/RemoteSystemsTempFiles/

Fuentes/ServicesVentaComida/target/m2e-wtp/web-resources/META-INF/maven/ServicesVentaComida/ServicesVentaComida/pom.properties

Fuentes/apk/.idea/workspace.xml
